@media screen and (min-width: 601px) and (max-width: 850px){
    
    .header .navbar ul{
        width: 80%;
        height: 170px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
     
    }

    
    .header .navbar ul li{
        width: 200px;
        text-align: left;
    }
 
    .header{
        background-image: url(fon.png);
        width: 100%;
        height: 150vh;
    }
    .header .fon {
        width: 100%;
        height: 100vh;
        color: white;
        margin-top: 70px;
        margin-left: 80px;
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        display: inline;
      }
      .header .fon .text {
        width: 70%;
        margin: 0 auto;
      }
      .header .fon .text .text_footer{
          margin-top: 10px;
          /* margin-left: 10px; */
          
      }
      .header .fon .fon1 img {
        width: 100%;
        height: 400px;
      }
      .body .menyu .menyu_header ul {
        width: 550px;
        height: 60px;
        margin-left: 10px;
      
      }
      .body .menyu .menyu_header ul  li a{
          font-size: 20px;
      }

      .body .cards .card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        }
      
      .body .cards .card .card1 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card1 img{
          width: 160px;
      }
      .body .cards .card .card1 .son {
        margin-left: 100px;
      }
      .body .cards .card .card2 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card2 img{
          width: 160px;
      }
      .body .cards .card .card2 .son {
        margin-left: 100px;
      }
      .body .cards .card .card3 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card3 img{
          width: 160px;
      }
      .body .cards .card .card3 .son {
        margin-left: 100px;
      }
      .body .cards .card .card4 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card4 img{
          width: 160px;
      } .body .cards .card .card4 .son {
        margin-left: 100px;
      }
      .body .cards .card .card5 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card5 img{
          width: 160px;
      }
      .body .cards .card .card5 .son {
        margin-left: 100px;
      }
    
    
    
      .body .cards .card_2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      }
      .body .cards .card_2 .card1 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card1 img{
          width: 160px;
      }
      .body .cards .card_2 .card1 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card2 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card2 img{
          width: 160px;
      }
      .body .cards .card_2 .card2 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card3 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card3 img{
          width: 160px;
      }
      .body .cards .card_2 .card3 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card4 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card4 img{
          width: 160px;
      } .body .cards .card_2 .card4 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card5 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card5 img{
          width: 160px;
      }
      .body .cards .card_2 .card5 .son {
        margin-left: 100px;
      }
      .footer{
          height: 850px;
      }
    .footer .footer_cards {
        width: 90%;
        height: 500px;
        display: flex;
        /* display: flex; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      }
      .footer .footer_cards .footer_card1 {
        width: 250px;
        height: 220.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .footer .footer_cards .footer_card2 {
        width: 250px;
        height: 250.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .footer .footer_cards .footer_card3 {
        width: 250px;
        height: 200.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .contact .contact2  .confons{
        margin-bottom: 20px;
    }

      .contact .contact2 {
        width: 100%;
      }
      .contact{
          display: inline;
          /* w100% */
      }
      .contact .chart{
          width: 100%;
      }
}




@media screen and (min-width: 401px) and (max-width: 600px){
    .header{
        margin: 0 auto;
    }
    .header .navbar ul{
        width: 100%;
        height: 170px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
     
    }

    
    .header .navbar ul li{
        width: 200px;
        /* text-align: left; */
        margin: 0 auto;
    }
 
    .header{
        background-image: url(fon.png);
        width: 100%;
        height: 170vh;
    }
    .header .fon {
        width: 100%;
        height: 100vh;
        color: white;
        margin-top: 70px;
        margin-left: 80px;
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        display: inline;
      }
      .header .fon .text {
        width: 70%;
        margin: 0 auto;
      }
      .header .fon .text .text_footer{
          margin-top: 10px;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between; 
          /* margin-left: 10px; */
          
      }
      .header .fon .text .text_footer h5{
          width: 100%;
      }
      .header .fon .fon1{
          margin-top: 80px;
      }
      .header .fon .fon1 img {
        width: 100%;
        height: 300px;
      }
      .header .fon .fon1 .narx{
          margin-left: -100px;
      }
      .body .menyu .menyu_header ul {
        width: 20px;
        height: 60px;
        margin: 0 auto;
        /* margin-left: 10px; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      
      }
      .body .menyu .menyu_header ul  li a{
          font-size: 20px;
      }

      .body .cards .card{
          margin-top: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        }
      
      .body .cards .card .card1 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card1 img{
          width: 160px;
      }
      .body .cards .card .card1 .son {
        margin-left: 100px;
      }
      .body .cards .card .card2 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card2 img{
          width: 160px;
      }
      .body .cards .card .card2 .son {
        margin-left: 100px;
      }
      .body .cards .card .card3 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card3 img{
          width: 160px;
      }
      .body .cards .card .card3 .son {
        margin-left: 100px;
      }
      .body .cards .card .card4 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card4 img{
          width: 160px;
      } .body .cards .card .card4 .son {
        margin-left: 100px;
      }
      .body .cards .card .card5 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card5 img{
          width: 160px;
      }
      .body .cards .card .card5 .son {
        margin-left: 100px;
      }
    
    
    
      .body .cards .card_2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      }
      .body .cards .card_2 .card1 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card1 img{
          width: 160px;
      }
      .body .cards .card_2 .card1 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card2 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card2 img{
          width: 160px;
      }
      .body .cards .card_2 .card2 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card3 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card3 img{
          width: 160px;
      }
      .body .cards .card_2 .card3 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card4 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card4 img{
          width: 160px;
      } .body .cards .card_2 .card4 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card5 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card5 img{
          width: 160px;
      }
      .body .cards .card_2 .card5 .son {
        margin-left: 100px;
      }
      .body .menyu_footer .imgs{
          height: 300px;
          width: 100%;
      }
      .body .menyu_footer .imgs img {
        height: 300px;
        border-radius: 10px;
        width: 90%;
      }
      .footer{
          height: 1000px;
      }
    .footer .footer_cards {
        width: 90%;
        height: 650px;
        display: flex;
        /* display: flex; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      }
      .footer .footer_cards .footer_card1 {
        width: 90%;
        height: 220.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .footer .footer_cards .footer_card2 {
        width: 90%;
        height: 200.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .footer .footer_cards .footer_card3 {
        width: 90%;
        height: 200.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .contact .contact2  .confons{
        margin-bottom: 20px;
    }

      .contact .contact2 {
        width: 100%;
      }
      .contact{
          display: inline;
          /* w100% */
      }
      .contact .chart{
          width: 100%;
      }
}




@media screen and (max-width: 400px){
    .header{
        margin: 0 auto;
    }
    .header .navbar ul{
        width: 100%;
        height: 170px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
     
    }

    
    .header .navbar ul li{
        width: 200px;
        /* text-align: left; */
        margin: 0 auto;
    }
 
    .header{
        background-image: url(fon.png);
        width: 100%;
        height: 170vh;
    }
    .header .fon {
        width: 100%;
        height: 100vh;
        color: white;
        margin-top: 70px;
        margin-left: 80px;
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        display: inline;
      }
      .header .fon .text {
        width: 70%;
        margin: 0 auto;
      }
      .header .fon .text h3{
          font-size: 25px;
          margin-top: 10px;
      }
      .header .fon .text p{
        font-size: 15px;
        width: 100%;
        margin-top: 10px;
    }

      .header .fon .text .text_footer{
          margin-top: 10px;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between; 
          /* margin-left: 10px; */
          
      }
      .header .fon .text .text_footer h5{
          width: 100%;
      }
      .header .fon .fon1{
          margin-top: 80px;
      }
      .header .fon .fon1 img {
        width: 100%;
        height: 200px;
      }
      .header .fon .fon1 .narx{
          margin-left: -250px;
      }

      .header .fon .fon1 .narx .ciz1 {
        width: 110.24px;
        height: 0px;
        border: 6px solid #E85F0F;
        border-right: none;
        border-top: none;
        border-left: none;
        transform: rotate(96.66deg);
        margin-left: 220px;
      }
      .body .menyu .menyu_header ul {
        width: 20px;
        height: 60px;
        margin: 0 auto;
        /* margin-left: 10px; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      
      }
      .body .menyu .menyu_header .menyu2 h1{
          font-size: 45px;
      }
      .body .menyu .menyu_header ul  li a{
          font-size: 20px;
      }

      .body .cards .card{
          margin-top: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        }
      
      .body .cards .card .card1 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card1 img{
          width: 160px;
      }
      .body .cards .card .card1 .son {
        margin-left: 100px;
      }
      .body .cards .card .card2 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card2 img{
          width: 160px;
      }
      .body .cards .card .card2 .son {
        margin-left: 100px;
      }
      .body .cards .card .card3 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card3 img{
          width: 160px;
      }
      .body .cards .card .card3 .son {
        margin-left: 100px;
      }
      .body .cards .card .card4 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card4 img{
          width: 160px;
      } .body .cards .card .card4 .son {
        margin-left: 100px;
      }
      .body .cards .card .card5 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card .card5 img{
          width: 160px;
      }
      .body .cards .card .card5 .son {
        margin-left: 100px;
      }
    
    
    
      .body .cards .card_2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      }
      .body .cards .card_2 .card1 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card1 img{
          width: 160px;
      }
      .body .cards .card_2 .card1 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card2 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card2 img{
          width: 160px;
      }
      .body .cards .card_2 .card2 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card3 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card3 img{
          width: 160px;
      }
      .body .cards .card_2 .card3 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card4 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card4 img{
          width: 160px;
      } .body .cards .card_2 .card4 .son {
        margin-left: 100px;
      }
      .body .cards .card_2 .card5 {
        width: 160px;
        height: 350px;
      }
      .body .cards .card_2 .card5 img{
          width: 160px;
      }
      .body .cards .card_2 .card5 .son {
        margin-left: 100px;
      }
      .body .menyu_footer .imgs{
          height: 300px;
          width: 100%;
      }
      .body .menyu_footer .imgs img {
        height: 300px;
        border-radius: 10px;
        width: 90%;
      }
      .footer{
          height: 1000px;
      }
    .footer .footer_cards {
        width: 99%;
        height: 650px;
        display: flex;
        /* display: flex; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
      }
      .footer .footer_cards .footer_card1 {
        width: 99%;
        height: 220.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .footer .footer_cards .footer_card2 {
        width: 99%;
        height: 200.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .footer .footer_cards .footer_card3 {
        width: 99%;
        height: 200.14px;
        background: #FFFFFF;
        border-radius: 30px;
      }
      .contact .contact2  .confons{
        margin-bottom: 20px;
    }
    .contact .contact2 .cont{
        margin-left: 10px;
    }
    .contact .contact2 .cont h1{
        font-size: 20px;
    }

      .contact .contact2 {
        width: 100%;
      }
      .contact{
          display: inline;
          /* w100% */
      }
      .contact .chart{
          width: 100%;
      }
}